<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image - Componently</title>
    <!-- Linking my stylesheet -->
    <link rel="stylesheet" href="../../styles/style.css" />
    <!-- Linking Components CSS -->
    <link rel="stylesheet" href="../../styles/components.min.css" />
    <!-- Linking fontawesome CDN (Content Delivery Network) -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- Linking HighlightJS CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css"
      integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ=="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Added boilerplate in HTML -->
    <nav>
      <div class="logo">
        <h1><a href="/">Componently</a></h1>
      </div>
      <div class="menu">
        <a href="">Get Started</a>
        <a href="./pages/components">Components</a>
      </div>
    </nav>
    <!-- Main section -->
    <div class="main">
      <div class="left">
        <div>
          <h1>Important Links</h1>
          <a href="../../pages/get-started">Get Started</a>
          <a href="">Documentation</a>
          <a href="">Typography</a>
          <!-- <a href="">Installation</a> -->
          <a href="">Conculsion</a>
          <!-- <a href="">Installation</a> -->
          <h1>Components</h1>
          <a href="../Avatar">Avatar</a>
          <a href="../Alert">Alert</a>
          <a href="../Badge">Badge</a>
          <a href="../Button">Button</a>
          <a href="../Card">Cards</a>
          <a class="active" href="">Image</a>
          <a href="../Input">Input</a>
          <a href="">Modal</a>
          <a href="">Rating</a>
        </div>
      </div>
      <div class="right">
        <div class="content">
          <div class="breadcumbs">
            <a class="home" href="/">Home</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <a href="../../pages/get-started">Components</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <a href="./index.html">Image</a>
          </div>
          <div class="content_header">
            <h1>Image</h1>
          </div>
          <div class="content_data">
            <p>The Image component is used to display images.</p>
            <h2>Usages</h2>
            <div class="usages image_usage">
              <img src="../../assets/img.jpg" alt="" class="sm-img" />
              <img src="../../assets/img.jpg" alt="" class="md-img" />
              <img src="../../assets/img.jpg" alt="" class="lg-img" />
            </div>
            <p>
              We have very basic fixed sized of image dimension have given
              above. In order to achieve the following component you need to
              follow given below code.
            </p>
            <div class="share_code">
              <pre>
                <code class="language_html">
                  < -- For Small Image 150x150 -->
                  <br>
                  &lt;img class="sm-img" src="url"&gt;&lt/img&gt;
                  <br>
                  <br>
                  < -- For Medium Image 200x200 -->
                  <br>
                  &lt;img class="md-img" src="url"&gt;&lt/img&gt;
                    <br>
                  <br>
                  < -- For Large Image 300x300 -->
                  <br>
                  &lt;img class="lg-img" src="url"&gt;&lt/img&gt;
                  </code>
              </pre>
            </div>
            <hr />
            <h1>Rounded Images</h1>
            <p>
              The class = "round-img" is having default value of border-radius
              of 50% explicitly.
            </p>
            <h2>Usages</h2>
            <div class="usages image_usage">
              <img src="../../assets/img.jpg" alt="" class="sm-img round-img" />
              <img src="../../assets/img.jpg" alt="" class="md-img round-img" />
              <img src="../../assets/img.jpg" alt="" class="lg-img round-img" />
            </div>
            <p>
              To achieve the above Images design, you need to follow the following code:
            </p>
            <div class="share_code">
              <pre>
                <code class="language_html">
                  < -- For Small Rounded Image 150x150 -->
                  <br>
                  &lt;img class="sm-img round-img" src="url"&gt;&lt/img&gt;
                  <br>
                  <br>
                  < -- For Medium Rounded Image 200x200 -->
                  <br>
                  &lt;img class="md-img round-img" src="url"&gt;&lt/img&gt;
                    <br>
                  <br>
                  < -- For Large Rounded Image 300x300 -->
                  <br>
                  &lt;img class="lg-img round-img" src="url"&gt;&lt/img&gt;
                  </code>
              </pre>
            </div>
          </div>
        </div>
        <div class="pagination">
          <section class="prev_pagination flex_start">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <a href="../Button">Cards</a>
          </section>
          <section class="next_pagination flex_end">
            <a href="../Input">Input</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </section>
        </div>
      </div>
    </div>
    <script src="../../script/scripts.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
  </body>
</html>
