.sm-img {
  width: 150px;
  height: 150px;
}

.md-img {
  width: 200px;
  height: 200px;
}

.lg-img {
  width: 300px;
  height: 300px;
}

.lg-img-responsive {
  width: 100%;
  height: auto;
}
/* Rounded Images */

.round-img {
  border-radius: 50% !important;
}
