.share_code{
  max-width: 90vw;
}
.share_code code{
  border-radius: 5px !important;
  display: block;
  overflow-x: hidden;
  padding: 0.5em;
  color: #abb2bf;
  text-overflow: ellipsis;
  background: #282c34;
}
