<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button - Componently</title>
    <!-- Linking my stylesheet -->
    <link rel="stylesheet" href="../../styles/style.css" />
    <!-- Linking Components CSS -->
    <link rel="stylesheet" href="../../styles/components.min.css" />
    <!-- Linking fontawesome CDN (Content Delivery Network) -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- Linking HighlightJS CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css"
      integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ=="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Added boilerplate in HTML -->
    <nav>
      <div class="logo">
        <h1><a href="/">Componently</a></h1>
      </div>
      <div class="menu">
        <a href="">Get Started</a>
        <a href="./pages/components">Components</a>
      </div>
    </nav>
    <!-- Main section -->
    <div class="main">
      <div class="left">
        <div>
          <h1>Important Links</h1>
          <a href="../../pages/get-started">Get Started</a>
          <a href="">Documentation</a>
          <a href="">Typography</a>
          <!-- <a href="">Installation</a> -->
          <a href="">Conculsion</a>
          <!-- <a href="">Installation</a> -->
          <h1>Components</h1>
          <a href="../Avatar">Avatar</a>
          <a href="../Alert">Alert</a>
          <a href="../Badge">Badge</a>
          <a class="active" href="">Button</a>
          <a href="">Cards</a>
          <a href="../Image">Image</a>
          <a href="">Input</a>
          <a href="">Modal</a>
          <a href="">Rating</a>
        </div>
      </div>
      <div class="right">
        <div class="content">
          <div class="breadcumbs">
            <a class="home" href="/">Home</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <a href="../../pages/get-started">Components</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <a href="./index.html">Button</a>
          </div>
          <div class="content_header">
            <h1>Button</h1>
          </div>
          <div class="content_data">
            <p>
              The Button component is used to trigger an action or event, such
              as submitting a form, opening a dialog, canceling an action, or
              performing a delete operation.
            </p>

            <h2>Usages</h2>
            <div class="usages">
              <button class="btn">Button</button>
              <button class="btn btn-primary">Button</button>
              <button class="btn btn-secondary">Button</button>
            </div>
            <p>
              To achieve the above buttons, you need to follow the following
              code:
            </p>
            <div class="share_code">
              <pre>
                <code class="language_html">
                  < -- For Default Button -->
                  <br>
                  &lt;button class="btn"&gtButton&lt/button&gt;
                  <br>
                  <br>
                  < -- For Primary Button -->
                  <br>
                  &lt;button class="btn btn-primary"&gtButton&lt/button&gt;
                  <br>
                  <br>
                  < -- For Secondary Button -->
                  <br>
                  &lt;button class="btn btn-secondary"&gtButton&lt/button&gt;
                  </code>
              </pre>
            </div>
            <hr />
            <h1>Button with link</h1>
            <p>Button with link is used to link from one page to another.</p>
            <h2>Usages</h2>
            <div class="usages">
              <button class="btn btn-link"><a href="">Button</a></button>
            </div>
            <p>
              To achieve the above buttons, you need to follow the following
              code:
            </p>
            <div class="share_code">
              <pre>
                <code class="language_html">
                  < -- For Link Button -->
                  <br>
                  &lt;button class="btn btn-link"&gt&lta href=""&gtButton&lt/a&gt&lt/button&gt;
                  <br>
                  </code>
              </pre>
            </div>
            <hr />
            <h1>Button with icon</h1>
            <p>You can use Icons in your Buttons respectively.</p>
            <h2>Usages</h2>
            <div class="usages">
              <button class="btn btn-icon">
                <i class="fa fa-free-code-camp" aria-hidden="true"></i>Button
              </button>
            </div>
            <p>
              To achieve the above buttons, you need to follow the following
              code:
            </p>
            <div class="share_code">
              <pre>
                <code class="language_html">
                  < -- For Default Icon Button -->
                  <br>
                  &lt;button class="btn btn-icon"&gt&ltsvg&gtButton&ltsvg&gt&lt/button&gt;
                  <br>
                  </code>
              </pre>
            </div>
          </div>
        </div>
        <div class="pagination">
          <section class="prev_pagination flex_start">
            <!-- <p>Prev</p> -->
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <a href="../Badge">Badge</a>
          </section>
          <section class="next_pagination flex_end">
            <a href="../Badge">Cards</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </section>
        </div>
      </div>
    </div>
    <script src="../../script/scripts.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
  </body>
</html>
