.btn {
  background: #172B4D;
  padding: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: bolder;
  min-width: 90px;
  border-radius: 2px;
  transition: 0.3s;
  opacity: 0.9;
}

.btn-primary {
  background: var(--primary-color);
}
.btn-secondary {
  background: var(--secondary-color);
  color: var(--black-color);
}
.btn-success {
  background: var(--success-color);
}
.btn-failed {
  background: var(--failed-color);
}
.btn:hover {
  opacity: 1;
}

/* Buttons with icons */

.btn-icon{
  display: flex;
  align-items: center;
}
.btn-icon i, .btn img, .btn svg{
  margin-right: 5px;
}