.text-red {
  color: var(--text-red);
}
.text-blue {
  color: var(--text-blue);
}
.text-yellow {
  color: var(--warning-color);
}
.text-green {
  color: var(--text-green);
}
.text-gray {
  color: var(--grey-color);
}
.text-cyan {
  color: var(--text-cyan);
}

.text-white {
  color: var(--white-color);
}

.text-centered {
  text-align: center;
}

.text-underline {
  text-decoration: underline;
}

.text-cross {
  text-decoration: line-through;
}

.text-highlight {
  background: var(--warning-color);
}

.text-italic {
  font-style: italic;
}

h1.master {
  font-size: 2em;
  font-weight: bold;
  color: var(--black-color);
}

h2.submaster {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--black-color);
}

h3.miniheading {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--black-color);
}

h4.subminiheading {
  font-size: 1em;
  font-weight: bold;
  color: var(--black-color);
}

h5.hyphenate {
  font-size: 0.83em;
  font-weight: bold;
  color: var(--black-color);
}

h6.subhypenate {
  font-size: 0.75em;
  font-weight: bold;
  color: var(--black-color);
}
