<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List - Componently</title>
    <!-- Linking my stylesheet -->
    <link rel="stylesheet" href="../../styles/style.css" />
    <!-- Linking Components CSS -->
    <link rel="stylesheet" href="../../styles/components.min.css" />
    <!-- Linking fontawesome CDN (Content Delivery Network) -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- Linking HighlightJS CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css"
      integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ=="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Added boilerplate in HTML -->
    <nav>
      <div class="logo">
        <h1><a href="/">Componently</a></h1>
      </div>
      <div class="menu">
        <i
        onclick="changeTheme()"
        class="fa fa-moon-o"
        id="toggle-darkmode"
        aria-hidden="true"
      ></i>
        <a href="../../pages/get-started">Get Started</a>
        <i
          onclick="window.location='https://github.com/spraveenofficial/componentLibrary'"
          class="fa fa-github"
          aria-hidden="true"
        ></i>
      </div>
    </nav>
    <!-- Main section -->
    <div class="main">
      <div class="left">
        <div>
          <h1>Important Links</h1>
          <a href="../get-started">Get Started</a>
          <h1>Components</h1>
          <a href="../Avatar">Avatar</a>
          <a href="../Alert">Alert</a>
          <a href="../Badge">Badge</a>
          <a href="../Button">Button</a>
          <a href="../Card">Cards</a>
          <a href="../Image">Image</a>
          <a href="../Input">Input</a>
          <a href="../Texts">Texts Utilites</a>
          <a class="active" href="../List">List</a>
          <a href="../Navigation">Navigation</a>
          <a href="../Rating">Rating</a>
          <a href="../Snackbar">Snackbar</a>
          <a href="../Grid">Grid</a>
        </div>
      </div>
      <div class="right">
        <div class="mobile-menu">
          <div class="menu-header">
            <h3>Components</h3>
            <i class="fa fa-chevron-right"></i>
          </div>
          <div class="menu_content">
            <div class="menu-items-mobile">
              <a href="../Avatar">Avatar</a>
              <a href="../Alert">Alert</a>
              <a href="../Badge">Badge</a>
              <a href="../Button">Button</a>
              <a href="../Card">Cards</a>
              <a href="../Image">Image</a>
              <a href="../Input">Input</a>
              <a href="../Texts">Texts Utilites</a>
              <a href="../List">List</a>
              <a href="../Navigation">Navigation</a>
              <a href="../Rating">Rating</a>
              <a href="../Snackbar">Snackbar</a>
              <a href="../Grid">Grid</a>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="breadcumbs">
            <a class="home" href="/">Home</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <a href="../../pages/get-started">Components</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <a href="./index.html">List</a>
          </div>
          <div class="content_header">
            <h1>List</h1>
          </div>
          <div class="content_data">
            <p>List component is used to list the product/items.</p>
            <h2>Usages</h2>
            <div class="usages flex flex-column">
              <div class="ordered-list">
                <ol>
                  <li>Car</li>
                  <li>Bike</li>
                  <li>Cycle</li>
                </ol>
              </div>
            </div>
            <p>This is the default Texts from our component library.</p>
            <div class="share_code">
              <pre>
                <code class="language_html">
                  < -- For Ordered List -->
                  <br>
                 &lt;div class="ordered-list"&gt; <br>
                 &lt;ol&gt; <br>
                 &lt;li&gt;Car&lt;/li&gt; <br>
                 &lt;li&gt;Bike&lt;/li&gt; <br>
                 &lt;li&gt;Cycle&lt;/li&gt; <br>
                 &lt;/ol&gt; <br>
                 &lt;/div&gt;
                  </code>
              </pre>
            </div>
            <hr />
            <h1>Bullet List</h1>
            <p>In this style, items will start with bullet.</p>
            <h2>Usages</h2>
            <div class="usages flex-column">
              <ul class="bullet-list">
                <li>Bullet Item 1</li>
                <li>Bullet Item 2</li>
                <li>Bullet Item 3</li>
                <li>Bullet Item 4</li>
              </ul>
            </div>
            <p>
              To achieve the list designs , you need to follow the following
              code:
            </p>
            <div class="share_code">
              <pre>
                <code class="language_html">
                  < -- For Bullet List -->
                  <br>
                  &lt;ul class="bullet-list"&gt; <br>
                  &lt;li&gt;Bullet Item 1&lt;/li&gt; <br>
                  &lt;li&gt;Bullet Item 2&lt;/li&gt; <br>
                  &lt;li&gt;Bullet Item 3&lt;/li&gt; <br>
                  &lt;li&gt;Bullet Item 4&lt;/li&gt; <br>
                  &lt;/ul&gt;
                  </code>
              </pre>
            </div>
            <hr />
            <h1>Squared List</h1>
            <p>In this predifined class list will start with sqaure dot.</p>
            <h2>Usages</h2>
            <div class="usages flex-column">
              <ul class="square-list">
                <li>Square Item 1</li>
                <li>Square Item 2</li>
                <li>Square Item 3</li>
                <li>Square Item 4</li>
              </ul>
            </div>
            <p>
              To achieve the text designs , you need to follow the following
              code:
            </p>
            <div class="share_code">
              <pre>
                <code class="language_html">
                  < -- For Squared List -->
                  <br>
                  &lt;ul class="square-list"&gt; <br>
                  &lt;li&gt;Square Item 1&lt;/li&gt; <br>
                  &lt;li&gt;Square Item 2&lt;/li&gt; <br>
                  &lt;li&gt;Square Item 3&lt;/li&gt; <br>
                  &lt;li&gt;Square Item 4&lt;/li&gt; <br>
                  &lt;/ul&gt;
                  </code>
              </pre>
            </div>
            <hr />
            <h1>Stacked List</h1>
            <p>You can style your list more attractive by adding own images.</p>
            <h2>Usages</h2>
            <div class="usages flex-column">
              <ul class="img-list">
                <li>
                  <img class="avatar" src="../../assets/img.jpg" alt="img" />
                  Hey, welcome to Componently.
                </li>
              </ul>
            </div>
            <p>
              To achieve the stacked list , you need to follow the following
              code:
            </p>
            <div class="share_code">
              <pre>
                <code class="language_html">
                  < -- For Stacked List -->
                  <br>
                  &lt;ul class="img-list"&gt; <br>
                  &lt;li&gt;<br>
                  &lt;img class="avatar" src="url here" alt="img" /&gt; <br>
                  Hey, welcome to componently. <br>
                  &lt;/li&gt; <br>
                  &lt;/ul&gt;
                  </code>
              </pre>
            </div>
          </div>
        </div>
        <div class="pagination">
          <section class="prev_pagination flex_start">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <a href="../Texts">Texts</a>
          </section>
          <section class="next_pagination flex_end">
            <a href="../Navigation">Navigation</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </section>
        </div>
      </div>
    </div>
    <script src="../../script/scripts.js"></script>
    <script src="../../script/darkmode.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
  </body>
</html>
