.ordered-list {
  font-size: 1rem;
}

.bullet-list {
  list-style-position: inside;
}

.square-list {
  list-style-type: square;
  list-style-position: inside;
}

.img-list{
    list-style-type: none;
    align-items: center;
    text-align: center;
}

.img-list li{
    display: flex;
    align-items: center;
    gap: 10px;
}