.header_menu{
  display: flex;
  align-items: center;
  flex-direction: row !important;
}

.header_component {
  background: var(--primary-color);
  width: 100%;
  height: 3.125rem;
  align-items: center;
  display: flex;
  padding: 0px 0.625rem;
  justify-content: space-between;
  color: #ffff;
  display: flex;
  flex-direction: row !important;
}
.header_component div i {
  font-size: 1.875rem;
  cursor: pointer;
  padding: 0.625rem;
  width: 1.875rem;
  border-radius: 50%;
  text-align: center;
}
.header_menu i,
.header__btns i:nth-child(1),
.header__btns i:nth-child(2) {
  margin-right: 0.625rem;
}
.header_component div i:hover {
  background: var(--action-color);
}
