<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Badge - Componently</title>
    <!-- Linking my stylesheet -->
    <link rel="stylesheet" href="../../styles/style.css" />
    <!-- Linking Components CSS -->
    <link rel="stylesheet" href="../../styles/components.min.css" />
    <!-- Linking fontawesome CDN (Content Delivery Network) -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- Linking HighlightJS CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css"
      integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ=="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Added boilerplate in HTML -->
    <nav>
      <div class="logo">
        <h1><a href="/">Componently</a></h1>
      </div>
      <div class="menu">
        <a href="">Get Started</a>
        <a href="./pages/components">Components</a>
      </div>
    </nav>
    <!-- Main section -->
    <div class="main">
      <div class="left">
        <div>
          <h1>Important Links</h1>
          <a href="../../pages/get-started">Get Started</a>
          <a href="">Documentation</a>
          <a href="">Typography</a>
          <!-- <a href="">Installation</a> -->
          <a href="">Conculsion</a>
          <!-- <a href="">Installation</a> -->
          <h1>Components</h1>
          <a href="../Avatar">Avatar</a>
          <a href="../Alert">Alert</a>
          <a class="active" href="">Badge</a>
          <a href="../Button">Button</a>
          <a href="">Image</a>
          <a href="">Input</a>
          <a href="">Modal</a>
          <a href="">Rating</a>
        </div>
      </div>
      <div class="right">
        <div class="content">
          <div class="breadcumbs">
            <a class="home" href="/">Home</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <a href="../../pages/get-started">Components</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <a href="./index.html">Badge</a>
          </div>
          <div class="content_header">
            <h1>Badge</h1>
          </div>
          <div class="content_data">
            <p>
              Badges are used to highlight an item's status for quick
              recognition.
            </p>
            <h2>Usages</h2>
            <div class="usages">
              <div class="badge">
                <img src="../../assets/img.jpg" class="avatar" alt="" />
                <div class="online"></div>
              </div>
              <div class="badge">
                <img src="../../assets/img.jpg" class="avatar" alt="" />
                <div class="offline"></div>
              </div>
              <div class="badge">
                <img src="../../assets/img.jpg" class="avatar" alt="" />
                <div class="dnd"></div>
              </div>
            </div>
            <p>
              To achieve the above badge, you need to follow the following code:
            </p>
            <div class="share_code">
              <pre>
                <code class="language_html">
                  < -- For Online Badge -->
                  <br>
                  &lt;div class="badge"&gt <br> 
                    &lt;img class="avatar" src="url"&lt/img&gt;
                    <br>
                  &lt;div class="online"&gt&lt/div&gt; <br> 
                  &lt/div&gt;
                  <br>
                  <br>
                  < -- For Offline Badge -->
                  <br>
                  &lt;div class="badge"&gt <br> 
                    &lt;img class="avatar" src="url"&lt/img&gt;
                    <br>
                  &lt;div class="offline"&gt&lt/div&gt; <br> 
                  &lt/div&gt;
                    <br>
                  <br>
                  < -- For DND Badge -->
                  <br>
                  &lt;div class="badge"&gt <br> 
                    &lt;img class="avatar" src="url"&lt/img&gt;
                    <br>
                  &lt;div class="dnd"&gt&lt/div&gt; <br> 
                  &lt/div&gt;
                  </code>
              </pre>
            </div>
            <hr />
            <h1>Icon Badge</h1>
            <p>
              Icon Badge is used to show the quantity on the top of the
              svg/image.
            </p>
            <h2>Usages</h2>
            <div class="usages flex-column">
              <div class="badge">
                <img class="avatar" src="../../assets/img.jpg" alt="" />
                <p class="number">10</p>
              </div>
            </div>
            <p>
              To achieve the above Badge, you need to follow the following code:
            </p>
            <div class="share_code">
              <pre>
                <code class="language_html">
                  < -- For Online Badge -->
                  <br>
                  &lt;div class="badge"&gt <br> 
                    &lt;img class="avatar" src="url"&lt/img&gt;
                    <br>
                  &lt;div class="number"&gt10&lt/div&gt; <br> 
                  &lt/div&gt;
                  <br>
                  </code>
              </pre>
            </div>
          </div>
        </div>
        <div class="pagination">
          <section class="prev_pagination flex_start">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <a href="../Alert">Alert</a>
          </section>
          <section class="next_pagination flex_end">
            <a href="../Button">Button</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </section>
        </div>
      </div>
    </div>
    <script src="../../script/scripts.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
  </body>
</html>
