<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button - Componently</title>
    <!-- Add Favicon -->
    <link rel="shortcut icon" href="../../assets/favicon.ico" />
    <!-- Linking my stylesheet -->
    <link rel="stylesheet" href="../../styles/style.css" />
    <!-- Linking Components CSS -->
    <link rel="stylesheet" href="../../styles/components.min.css" />
    <!-- Linking fontawesome CDN (Content Delivery Network) -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- Linking HighlightJS CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css"
      integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ=="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Added boilerplate in HTML -->
    <nav>
      <div class="logo">
        <h1><a href="/">Componently</a></h1>
      </div>
      <div class="menu">
        <i
          onclick="changeTheme()"
          class="fa fa-moon-o"
          id="toggle-darkmode"
          aria-hidden="true"
        ></i>
        <a href="../../pages/get-started">Get Started</a>
        <i
          onclick="window.location='https://github.com/spraveenofficial/componentLibrary'"
          class="fa fa-github"
          aria-hidden="true"
        ></i>
      </div>
    </nav>
    <!-- Main section -->
    <div class="main">
      <div class="left">
        <div>
          <h1>Important Links</h1>
          <a href="../../pages/get-started">Get Started</a>
          <h1>Components</h1>
          <a href="../Avatar">Avatar</a>
          <a href="../Alert">Alert</a>
          <a href="../Badge">Badge</a>
          <a href="../Button">Button</a>
          <a href="../Card">Cards</a>
          <a href="../Image">Image</a>
          <a href="../Input">Input</a>
          <a href="../Texts">Texts Utilites</a>
          <a href="../List">List</a>
          <a href="../Navigation">Navigation</a>
          <a href="../Rating">Rating</a>
          <a href="../Snackbar">Snackbar</a>
          <a href="../Grid">Grid</a>
          <a class="active" href="../Modal">Modal</a>
        </div>
      </div>
      <div class="right">
        <div class="mobile-menu">
          <div class="menu-header">
            <h3>Components</h3>
            <i class="fa fa-chevron-right"></i>
          </div>
          <div class="menu_content">
            <div class="menu-items-mobile">
              <a href="../Avatar">Avatar</a>
              <a href="../Alert">Alert</a>
              <a href="../Badge">Badge</a>
              <a href="../Button">Button</a>
              <a href="../Card">Cards</a>
              <a href="../Image">Image</a>
              <a href="../Input">Input</a>
              <a href="../Texts">Texts Utilites</a>
              <a href="../List">List</a>
              <a href="../Navigation">Navigation</a>
              <a href="../Rating">Rating</a>
              <a href="../Snackbar">Snackbar</a>
              <a href="../Grid">Grid</a>
              <a href="../Modal">Modal</a>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="breadcumbs">
            <a class="home" href="/">Home</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <a href="../../pages/get-started">Components</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <a href="./index.html">Modal</a>
          </div>
          <div class="content_header">
            <h1>Modal</h1>
          </div>
          <div class="content_data">
            <p>
              The modal component is a component that can be used to display
              information to the user. It can be used to display information
              that is not important to the user, but is important to the
              application.
            </p>

            <h2>Usages</h2>
            <div class="usages">
              <button onclick="toggleModal()" class="btn showModal">
                Click to Open Modal
              </button>
              <div class="usages fancy-modal">
                <div class="card-dismiss">
                  <div class="card_header">
                    <i onclick="hideModal()" class="fa fa-close"></i>
                  </div>
                  <div class="card-data">
                    <h1>This is Modal</h1>
                  </div>
                </div>
              </div>
            </div>
            <p>
              To achieve the above Normal Modal, you need to follow the
              following code:
            </p>
            <h3>HTML Code:</h3>
            <div class="share_code">
              <pre>
                <code class="language_html">
                  < -- For Modal Button -->
                  <br>
                  &lt;button onclick="showModal()" class="btn"&gtClick to Open Modal&lt/button&gt;
                  <br>
                  < -- For Main Modal Component -->
                  <br>
                  &lt;div class="fancy-modal"&gt;
                  <br>
                  &lt;div class="card-dismiss"&gt;
                  <br>
                  &lt;div class="card_header"&gt;
                  <br>
                  &lt;i onclick="hideModal()" class="fa fa-close"&gt&lt/i&gt;
                  <br>
                  &lt;/div&gt;
                  <br>
                  &lt;div class="card-data"&gt;
                  <br>
                  &lt;h1&gtThis is Modal&lt/h1&gt;
                  <br>
                  &lt;/div&gt;
                  <br>
                 &lt;/div&gt;
                 <br>
                 &lt;/div&gt;
                  <br>
                  </code>
              </pre>
            </div>
            <hr />
            <h3>Javascript Code:</h3>
            <p>
              In order to acheive this Modal, you need to Apply this function in
              your script file. eg. in your script.js file.
            </p>
            <div class="share_code">
              <pre>
                  <code class="javascript">
                    // Declare Variable 
                    <br>
                    const modal = document.querySelector(".fancy-modal");
                    <br>
                    //Function to Show Modal
                    <br>
                    function showModal() {
                    <br>
                    modal.style.display = "block";
                    <br>
                    }
                    <br>
                    //Function to Hide Modal
                    <br>
                    function hideModal() {
                    <br>
                    modal.style.display = "none";
                    <br>
                    }
                    </code>
                </pre>
            </div>
            <hr />
          </div>
        </div>
        <div class="pagination">
          <section class="prev_pagination flex_start">
            <!-- <p>Prev</p> -->
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <a href="../Grid">Grid</a>
          </section>
        </div>
      </div>
    </div>
    <script src="../../script/scripts.js"></script>
    <script src="../../script/darkmode.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
  </body>
</html>
