.snackbar {
  background: var(--black-color);
  width: 25rem;
  color: var(--white-color);
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0.8rem;
  border-radius: 0.315rem;
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
  display: none;
}

.close-btn-snackbar {
  cursor: pointer;
}
